*{
    margin: 0;
    padding: 0;
}



/*CSS DEL ENCABEZADO*/
.header{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.headerIzq{
    display: flex;
    gap: 20px;
    align-items: center;
}
.logoynombre{
    display: flex;
    align-items: center;
    gap: 10px;
}
.enlacesIzq{
    display: none;
    align-items: center;
    gap: 20px;
}
.logo{
    width: 50px;
}
.nombre{
    font-weight: bold;
    font-size: larger;
}
.enlacesIzq a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(193, 189, 189);
}
.headerDer{
    display: flex;
    gap: 20px;
    align-items: center;
}
.imgbur{
    display: flex;
    width: 50px;
}
.enlaceLogIn{
    display: none;
    text-decoration: none;
    color: black;
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.enlaceRegister{
    display: none;
    text-decoration: none;
    color: white;
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
}






/*CSS DEL HERO*/
.hero {
    position: relative; /* establecer posición relativa */
  }
  
  .fondovertical {
    width: 100%;
  }
  .fondoancho{
    display: none;
    width: 100%;
  }
  .TituloSuperpuesto {
    position: absolute; /* establecer posición absoluta */
    top: 80%; /* mover el elemento hacia abajo la mitad de su altura */
    left: 50%; /* mover el elemento hacia la derecha la mitad de su anchura */
    transform: translate(-50%, -50%); /* centrar el elemento */
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  .TituloSuperpuesto h1{
    font-size: 25px;
    font-family: 'Cinzel', serif;
    color: black;
  }
  .TituloSuperpuesto a{
    font-size: 15px;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    color: black;
    padding: 11px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
  }

 
 
 
 /*MEDIA QUERYS*/
 
 /*MEDIA QUERY PARA TABLET*/
 @media (min-width: 834px){
    .fondovertical{
        display: none;
    }
    .fondoancho{
        display: flex;
    }
    .TituloSuperpuesto h1{
        font-size: 40px;
    }
    .TituloSuperpuesto a{
        font-size: 25px;
    }
 }
 
 /*MEDIA QUERY PARA DESKTOP*/
 @media (min-width: 1440px) {
     .enlacesIzq{
        display: flex;
     }
     .enlaceLogIn{
        display: flex;
     }
     .enlaceRegister{
        display: flex;
     }
     .imgbur{
        display: none;
     }
  }

